body {
  @apply font-sans antialiased;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply
    p-0
    mb-6
    leading-none;
}

h1 {
  @apply text-5xl;
  
  @screen xl {
    @apply text-6xl;
  }
}

h2 {
	@apply text-lg;
}

/* Link */
.link {
  @apply underline transition;

  &:hover, &:focus {
    @apply text-blue;
  }

  &.is--active {
    @apply text-blue;
  }
}

/* Content */
.content {
  
  /* Paragraph */
  p {
    @apply mb-6;
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-6 block;
  }
}

.nav--active {
  &:after {
    content: " ";
    width: 50%;
    left: 25%;
    right: 25%;
    bottom: 2px;
    @apply absolute h-px bg-current;
  }
}